# ssh
alias sshgen="ssh-keygen -t ed25519 -C "

# Git
alias nah="git reset --hard;git clean -df;"
alias gdm="git branch --merged main | grep -v '^\* main' | xargs -n 1 -r git branch -d"

# Laravel
alias laranew='curl -s "https://laravel.build/example-app" | bash'
alias art="sail artisan"
alias tinker="sail artisan tinker"
alias migrate="sail artisan migrate"
alias migratef="sail artisan migrate:fresh"
alias js="sail npm run dev"
alias p="vendor/bin/phpunit"
alias pf="vendor/bin/phpunit --filter"
alias sail="[ -f sail ] && sh sail || sh vendor/bin/sail"

# Android
alias signdroid="keytool -genkey -v -keystore my-release-key.keystore -alias my-key-alias -keyalg RSA -keysize 2048 -validity 10000"

# Firebase tools
alias firestop="lsof -t -i:4000,5001,5050,8080,8085,9000,9001,9099,9199,9299 | xargs kill -9"

# GCP
alias firedl="gsutil -m cp -R"
alias firexport="gcloud firestore export"

# Utilty
alias killport="lsof -t -i: | xargs kill -9"
alias fmt="npx @biomejs/biome check --write --unsafe"
alias reload="source $ZDOTDIR/.zshrc && echo 'Zsh config reloaded!'"

# Elasticsearch
alias elastic="docker run --name elasticsearch --net elastic -p 9200:9200 -p 9300:9300 -e "discovery.type=single-node" -t docker.elastic.co/elasticsearch/elasticsearch:7.15.2"
alias kibana="docker run --name kibana --net elastic -p 5601:5601 docker.elastic.co/kibana/kibana:7.15.2"
